<h1><%= @question.description %></h1>
<h5><em><a href="/surveys/<%= @survey.id %>"><%= @survey.name() %></a></em></h5>


<div class="well">
  <form action="/questions/<%= @question.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class = "form-group">
      <label for="description">Rename Question!</label>
      <input type="text" name="description" id = "description" class = "form-control">
      <br>
      <button type = "submit" class="btn btn-primary">Update!</button>
    </div>
  </form>

  <form action="/questions/<%= @question.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>
</div>
